NODE_ENV=development

NODE_MAILER_HOST=smtp.gmail.com
NODE_MAILER_PORT=465
NODE_MAILER_USER=
NODE_MAILER_PASS=
NODE_MAILER_SECURE=true

NODE_MAILER_RECEIVER=

# get the token at steam.com
STEAM_API_KEY=
STEAM_ID=

# get the token at github.com
GITHUB_TOKEN=
GITHUB_TOKEN_WEBVIUM=

#
# get recaptcha, google and youtube credentials
# at cloud.google.com
#
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=

YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# get your api key at wakatime.com
WAKATIME_API_KEY=
# get your api key at football-data.org
FOOTBALL_DATA_API_KEY=
# get your api key at exchangerate-api.com
EXCHANGE_RATE_API_KEY=
# get your stream id at analytics.google.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_STREAM_ID=
# get your publisher id at adsense.google.com
NEXT_PUBLIC_GOOGLE_ADS_PUBLISHER_ID=
# get your norton site verification at safeweb.norton.com
NEXT_PUBLIC_NORTON_SAFEWEB_SITE_VERIFICATION=
